        <footer class="footer">
            <a href="/" class="text-left">&nbsp Go Back to Landing Page</a>
            <p class="floatRight">Website Developed By <strong class="toUpperCase">Cheng Shi</strong>&nbsp</p>
        </footer>
    </body>
</html>