<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheet/main.css">
    </head>
    <body>
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">YelpCamp</a>
            </div>
            
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Sign Up</a></li>
                <% }else{ %>
                    <li><a>Welcome! <%= currentUser.username %></a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </nav>

    <!--because success as a variable for flash message, is an array. 
    everytime app.js will pass an success array, but only if the array is not empty should we run this flash message-->
    <% if (success && success.length > 0) { %>
        <div class="container">
            <div class="alert alert-success" role="alert"><%= success %></div>
        </div>
    <% } %>
    <% if (error && error.length > 0) { %>
        <div class="container">
            <div class="alert alert-danger" role="alert"><%= error %></div>
        </div>
    <% } %>
    
