html, body {
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.thumbnail{
    padding:0;
}

.caption-full {
    padding:9px;
}

.deleteForm {
    display:inline;
}

.inlineDisplay {
    display:inline;
}

.floatRight {
    float: right;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #f8f8f8;
    margin-bottom: 0;
    padding:2px;
    width: 100%;
}

.footer a, .footer p {
    display: inline-block;
}

.toUpperCase {
    text-transform: uppercase;
}

#registerPasswordWarning {
    display: none;
}

#commentSection {
    margin:5px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: none;
}

#identifyCode {
    background-color: transparent;
    font-size:1.5em;
    border:0px solid;
}