<% include ./partials/heading %>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="/login" method="POST">
                <label>Login to YelpCamp</label>
                <div class="form-group">
                    <input type="text" name="username" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="********" class="form-control">
                </div>
                <button class="btn btn-primary btn-sm">Login to YelpCamp</button>
                <p class="inlineDisplay floatRight">Does not have an account? <a href="/register">Sign Up Now</a></p>
            </form>
        </div>
    </div>
</div>


<% include ./partials/footer %>